<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<form action="/album" method="POST">
<input type="text" name="title" placeholder="Album Title">
<input type="text" name="artist" placeholder="Artist">
<input type="text" name="songCount" placeholder="Song Count">
<input type="text" name="length" placeholder="Length">
<input type="text" name="imageUrl" placeholder="Image URL">

<input type="submit">
</form>

<div th:each="album : ${display}">
    <h3 th:text="${album.title}">Album Title</h3>
    <h4 th:text="${album.artist}">Artist</h4>
    <p th:text="${album.songCount}">Song Count</p>
    <p th:text="${album.length}">Length</p>
    <img th:src="${album.imageUrl}">

    <form th:action="'/songlist/' + ${album.id}" method="GET">Click to Album
    <input type="submit">
    </form>

<!--     connected to @GetMapping on Song Controller-->

    <form action="/song" method="POST">
        <input type="hidden" name="albumId" th:value="${album.id}">
        Song Title : <input type="text" name="title">
        Track : <input type="number" name="track">
        Length : <input type="number" name="length">
        <input type="submit" value="add">
    </form>
</div>

</body>
</html>